/* css */
.black {
  background-color: black;
}

.red-background .nav-link:hover{
  border-radius: 5px;
  background-color: #ff001e94;
}

.hide-hover:hover{
  background-color: #B22234;
}

.nav-bar .nav-link:hover {
  border-radius: 5px;
  background-color: #515096a3;
}

.red {
  color: #B22234;
}

.white {
  color: white;
}

body {
  background-color: #8E9AAF;
}

.nav-bar {
  background-color: #3C3B6E;
  color: white;
}

.nav-link {
  color: white !important;
}

.red-background {
  background-color: #B22234;
}

.active {
  background-color: #ff001e94 !important;
}

p, h1, h2{
  color: white;
}

.scroll-overflow {
  overflow-x: auto;
  /* white-space: nowrap; */
}

.scroll {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */ 
  flex-wrap: nowrap;
}

/* [5] */
.scroll::-webkit-scrollbar {
  display: none; }

.table-responsive::-webkit-scrollbar{
  display: none;
}

.max-height {
  height: 100%;
}